:root {
  --color-primary: #49a6e9;
  --color-headings: #102a42;
  --color-text: #617d98;
  --color-body: #f1f5f8;
  --color-icon: #8bcdfa;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --letter-spacing: 0.16rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-text);
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  line-height: 1.5;
}
h2,
h4 {
  color: var(--color-headings);
  font-family: var(--font-primary);
  letter-spacing: var(--letter-spacing);
  line-height: 1.25;
  text-transform: capitalize;
}
h2 {
  font-size: 3.2rem;
  margin: 0 0 1.2rem;
}
h4 {
  font-size: 1.4rem;
  margin: 0 0 0.4rem;
}
@media screen and (min-width: 1024px) {
  h2,
  h4 {
    line-height: 1;
  }
  h2 {
    font-size: 4rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  body {
    font-size: 1.6rem;
  }
}
/* Icons */
.icon {
  height: 15px;
  width: 15px;
}
.icon--large {
  height: 20px;
  width: 20px;
}
.icon--primary {
  color: #fff;
}
.icon--secondary {
  color: var(--color-icon);
}
.icon-container {
  align-items: center;
  background: var(--color-primary);
  border-radius: 100%;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
/* Buttons */
.btn {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s;
  white-space: nowrap;
}
.btn--primary {
  background: #ebf7ff;
  border: 2px solid var(--color-primary);
  box-shadow: 0.5px 0.5px 0 var(--color-headings);
  color: var(--color-primary);
}
.btn:hover {
  background: var(--color-primary);
  color: #063251;
}
